* {
    font-family: 'Work Sans'
}

.nav-container {
    padding: 40px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 100px;
    height: 50px;
    margin-right: 20px;
}

.logo-container h1 {
    font-size: 45px;
    font-weight: 700;
}

.logo-container h1>span {
    color: #FF42A5;
}

.nav-items {
    display: flex;
    justify-content: space-around;
}

.nav-items button {
    padding: 18px 25px;
    border: none;
    background-color: #fff;
}

.nav-items button:hover {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.nav-items a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.banner-section {
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
}

.banner-content h2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.banner-content p {
    color: #fff;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0px;
    margin-bottom: 24px;
}

.banner-content li {
    list-style: none;
    margin-bottom: 17px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.btn {
    color: #FFF;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 50px;
    border: none;
    display: inline-flex;
}

.btn-primary {
    background: #FF42A5;
    margin-right: 24px;
}

.btn-classic {
    background: #4EC5F7;
}

.banner-img img {
    width: 100%;
}

.games-videos-content {
    text-align: center;
    width: 100%;
}

.games-videos-content h2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

.games-videos-content span {
    color: #fff;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.games-videos-content p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}
.games-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1440px;
    margin: 50px auto;
}

.games-card p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}



@media screen and (max-width:576px) {
    .nav-container {
        flex-direction: column;
    }

    .banner-section {
        flex-direction: column-reverse;
        padding: 20px 50px;
    }

    .banner-content {
        width: 100%;
    }

    .banner-img img {
        width: 100%;
    }
    .games-card{
        grid-template-columns: repeat(1, 1fr);
        width: auto;
        padding: 0px 40px;
    }
}