* {
    font-family: 'Work Sans'
}


.nav-container {
    padding: 40px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 100px;
    height: 50px;
    margin-right: 20px;
}

.logo-container h1 {
    font-size: 45px;
    font-weight: 700;
}

.logo-container h1>span {
    color: #FF42A5;
}

.nav-items {
    display: flex;
    justify-content: space-around;
}

.nav-items button {
    padding: 18px 25px;
    border: none;
    background-color: #fff;
}

.nav-items button:hover {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.nav-items a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.banner-section {
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
}

.banner-content h2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.banner-content p {
    color: #fff;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0px;
    margin-bottom: 24px;
}

.banner-content li {
    list-style: none;
    margin-bottom: 17px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.btn {
    color: #FFF;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 50px;
    border: none;
    display: inline-flex;
}

.btn-primary {
    background: #FF42A5;
    margin-right: 24px;
}

.btn-classic {
    background: #4EC5F7;
}

.banner-img img {
    width: 100%;
}

.games-videos-content {
    text-align: center;
    width: 100%;
}

.title-primary {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

.title-text-color {
    color: #fff;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

.games-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1520px;
    margin: 50px auto;
}

.games-card p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}

.online-games {
    display: flex;
    padding: 20px;
    gap: 100px;
    width: 1520px;
    margin: auto;
}

.game-img img {
    margin-right: 250px;
}

.game img {
    position: relative;
    bottom: 236px;
    left: 530px;
}

.game-btn-container {
    width: 1520px;
    margin: auto;
    margin-bottom: 100px;
}

.game-btn-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 50px;
}

.game-btn-content-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 100px;
    margin-right: 50px;
}

.game-btn {
    display: flex;
    cursor: pointer;
    gap: 20px;
    align-items: center;

}

.game-btn:hover {
    padding: 15px 20px;
    color: #FF42A5;
    border: 5px solid #FF42A5;
    border-radius: 70px;
    width: 300px;
}

.game-btn p {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}

.game-btn p:hover {
    color: #FF42A5;
}

.footer {
    background: #0B0223;
    text-align: center;
    height: 600px;
}

.footer-logo-container {
    justify-content: center;
}

.footer-title {
    color: #fff;
}

footer a {
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    margin: 30px;
}

.footer-icon {
    margin: 60px;
}

.footer p {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}




@media screen and (max-width:576px) {
    .nav-container {
        flex-direction: column; 
        padding: 0px;
        width: 0px auto;
        margin: 0px;
     
    }
    .nav-items{
        flex-direction: column;
        padding: 0px;
    }
}
